.header {
    width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;

    .left {
        img {
            cursor: pointer;
        }
    }

    .right {
        img {
            margin-left: 20px;
            cursor: pointer;
        }
    }
}